    <!-- Футер -->
    <footer>
         <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 footer-column">
                    <h5 class="footer-title">Magic Shop</h5>
                    <p>Ваш магазин волшебных товаров и магических артефактов</p>
                </div>
                <div class="col-md-5 footer-column">
                    <h5 class="footer-title">Контакты</h5>
                    <ul class="footer-links">
                        <li><i class="bi bi-geo-alt"></i> з. Хогвартс, ул. Косой переулок, 9¾</li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                &copy; <span id="current-year"></span> Magic Shop. Все права защищены.
            </div>
        </div>
    </footer>