{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mb-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm" id="edit-profile">
                <div class="card-header py-3" style="background-color: #ddf0f7cf;">
                    <h5 class="mb-0 text-center">Редактировать профиль</h5>
                </div>
                
                <div class="card-body p-4">
                    <h6 class="mb-2">Сменить пароль</h6>
                    <form method="post" action="{% url 'account:change_password' %}">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label for="old_password" class="form-label small">Текущий пароль</label>
                            <input type="password" class="form-control form-control-sm" id="old_password" name="old_password" required>
                        </div>
                        <div class="mb-2">
                            <label for="new_password1" class="form-label small">Новый пароль</label>
                            <input type="password" class="form-control form-control-sm" id="new_password1" name="new_password1" required>
                        </div>
                        <div class="mb-2">
                            <label for="new_password2" class="form-label small">Подтвердите пароль</label>
                            <input type="password" class="form-control form-control-sm" id="new_password2" name="new_password2" required>
                        </div>
                        <button type="submit" class="btn btn-sm w-100" 
                                style="color: #ffffffff;; background-color: #f1c30bff;">
                            Сменить пароль
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}