{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}
<main class="container my-4">
    <div class="row">
        <!-- Колонка категорий и фильтров -->
        <div class="col-md-3" style="top: 20px; height: fit-content;">
            <!-- Категории -->
            {% include 'shop/_partials/_category_products.html' %}
            <!-- Фильтры -->
            {% include 'shop/_partials/_filter_products.html' %}
        </div>

        <!-- Основная колонка -->
        <div class="col-md-9" id="products-container">
            <!-- Вступительный контейнер -->
            <div class="banner text-center mb-3">
                <h2 class="mb-3">Добро пожаловать в мир магии и волшебства!</h2>
                <p class="lead mb-5">Сделайте магию Вашим рутинным делом!</p>
            </div>
            <!-- Поиск -->
            <div class="row mb-2">
                <div class="col-12">
                    <form hx-get="{% url 'shop:products' %}"
                        hx-target="#products-list-container"
                        hx-trigger="keyup changed delay:500ms, search"
                        hx-swap="innerHTML"
                        class="d-flex">
                        <input 
                            type="search" 
                            class="form-control me-2" 
                            placeholder="Поиск..." 
                            name="q"
                            aria-label="Search"
                            value="{{ search_query|default:'' }}"
                        >
                        <button class="btn btn-outline" style="color: #0333c2ff; background-color: #f8feffa0; border-color: #0132c3ff;" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
            <!-- Продукты с пагинацией -->
            <div id="products-list-container">
                {% include 'shop/_partials/products_list.html' %}
            </div>
        </div>
    </div>
</main>

<script>
    $(document).on('click', '.add-to-cart-btn', function(e){
        e.preventDefault();
        const productId = $(this).data('product-id');
        const productQty = 1;
        $.ajax({
            type: 'POST',
            url: '{% url "cart:add-to-cart" %}',
            data: {
                product_id: productId,
                product_qty: productQty,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(response){
                document.getElementById('lblCartCount').textContent=response.qty;
                // alert('Товар добавлен в корзину!');
            },
            error: function(error){
                console.log(error);
            }
        })
    })
</script>

{% endblock %}