{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}

<div class="d-flex justify-content-center align-items-center mt-3" style="min-height: 60vh;">
    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h3 class="card-title text-center fs-2 mb-3 mt-1" style="color: #052470ff;">
                Немного информации о нас
            </h3>
            <p class="card-text text-justify fs-5" 
               style="text-align: justify; color: #35373cff;">
                Вымышленная компания MagicShop приветствует всех посетителей нашего 
                сайта. Если Вы давно уже хотели стать магом(даже при всех нюансах магической
                доставки с помощью сов!) и открыть для себя новый чудесный мир, то добро 
                пожаловать к нам на сайт! Сделать волшебство рутинным делом - легко! 
                стать магов высшего класса - запросто! открыть для себя новые горизонты познания
                целостности Вселенной - да пожалуйста! Мы стараемся сделать все, чтобы 
                порадовать наших покупателей. 
                Если же возникли неудобства при доставке или Вам пришел брак - не стесняйтесь 
                писать в поддержку. Там Вам всегда помогут и будут рады этому. Подробная информация
                в разделе "контакты". Время волшебства и магии уже наступило!
            </p>
            <p class="card-text text-end fs-5" style="color: #2b395eff;">
                Время волшебства и магии уже наступило!
            </p>
        </div>
    </div>
</div>

{% endblock %}